

<h1>Students and Grades Equal to or Better Than Specified Grade</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Course</th>
        <th>Grade</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in ViewBag.grade)
    {
        <tr>
            <td>@item.studentid</td>
            <td>@item.studentname</td>
            <td>@item.coursename</td>
            <td>@item.grade1</td>
        </tr>
    }
    </tbody>
</table>